body{
    max-width: 375px;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
}
.content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}
.image-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}
